*{
	margin: 0;
	padding: 0;
	font-family: "open sans",sans-serif;
}

.about-section{
	width: 100%;
	padding: 60px 0;
	text-align:center;
}

.border{
	width: 100px;
	height: 5px;
    background: #e74c3c;
	margin: 40px auto ;
} 